{% extends "base.html.twig" %}

{% block title %}Test api/deck/shuffle with POST{% endblock %}

{% block body %}
<h1>Test api/deck/shuffle with POST</h1>


<form method="post" action="{{ path('api_deck_shuffle') }}">
        <button type="submit">
            Shuffle POST
        </button>
</form>

{% endblock %}