body {
    background-color: #F5F5F5;
    color: #1A1A1A;
    margin: 10px auto;
    max-width: 800px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    /* background: url('../images/background.jpg'); */
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fdf6ec;
}


.content {
    flex: 1;
    padding: 20px;
}



h1 {
    border-bottom: 4px double #007ACC;
}



header {
    height: 150px;
}


/* Navigation bar in header*/
.nav-top {
    margin-top: 2px;
    background-color: #f2e9e4;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px 20px;


}

.nav-top a {
    border-radius: 5px;
    font-weight: bold;
}


.nav-top a:hover {
    background-color: #df8ab4;
}



.me-img {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* A page with two columns */
.two-col-layout {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}


.left-col {
    flex: 2;
}


.right-col {
    flex: 1;
    background-color: #EAF6FF;
    border-left: 1px solid #4c81a5;
    padding: 1rem;
}

.right-col h2 {
    border-bottom: 5px solid #4c81a5;
}


.about-img {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 10px;
}



/* Navigation bar in report page */
.nav-report li {
    display: inline;
}

.nav-report a {
    padding: 5px 12px;
    border-radius: 5px;
}

.nav-report a:hover {
    background-color: #4c81a5;
}


@media (max-width: 600px) {
    nav li {
        display: block;
    }

    .site-footer {
        flex-direction: column;
    }
}

.wrapper-rotation {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}


.cookie-img {
    display: block;
    margin: 40px auto;
    max-width: 500px;
    width: 100%;
    height: auto;
    border: 10px dotted #df6ba5;
    border-radius: 20%;
}


/* Footer style */
.site-footer {
    background-color: #2c3e50;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: flex;
}



/* pig game */
/* flash message */
.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}


.flash-success {
    padding: 0.5em;
    color: #111111;
    background-color: #5bd161;
    border-color: #0b5f0f;
}


/* card game */
/* style the cards in horizontal way */
.showCard {
    font-size: 5rem;
    display: inline-block;
    line-height: 1;
}



/* style all four buttons */
.buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
}